<header>
        <div><h1>BLOG TECH VERSE</h1></div>
        <ul class="header-links">
            <li>Categories</li>
            <li>Labs</li>
            <li>Emerging</li>
        </ul>
    </header>