<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <header>
        <div><p>TECH VERSE</p></div>
        <ul>
            <li>Categories</li>
            <li>Labs</li>
            <li>Emerging</li>
        </ul>
    </header>

    <%- include('./partials/nav.ejs') %>

    <main>
        <p>OOOPs...page not found!!!</p>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>