<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/heading.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>
        <p>OOOPs...page not found!!!</p>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>