<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/heading.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor officia sit impedit. Illo quos sequi debitis suscipit cumque recusandae quam vero voluptates minus? Error distinctio natus quis dolore nemo omnis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nihil facilis voluptas eligendi optio tenetur dolore quisquam consequuntur harum itaque, repellat, fugit quas. Laudantium illo voluptas at, consectetur omnis dolorum.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis tenetur dolores voluptatibus voluptate, asperiores est qui nulla doloribus iure eveniet tempora dolorem omnis impedit. Soluta ratione optio delectus rem omnis?</p>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>