<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/heading.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="content-heading"><h2>Teching Today!!!</h2></div>
        <div class="blogs">
            <div>blog 1</div>
            <div>blog 2</div>
            <div>blog 3</div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>